In [2]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [3]:
df = pd.read_csv('../数据/car_info_cleared.csv')
df.head()

,car_brand,style_year,other_info,buy_year,total_km,location,total_price,original_price
0,马自达 阿特兹,2018款,2.5L 蓝天尊崇版,2018,1.0,西安,19.47,23.5
1,长安商用 欧力威,2013款,1.2L 手动舒适型,2013,12.3,西宁,1.95,4.7
2,保时捷Cayenne,2016款,Cayenne 3.0T,2015,3.8,哈尔滨,75.00,96.4
3,别克 凯越,2011款,1.6LE-MT,2010,11.5,成都,2.68,11.7
4,大众 夏朗,2016款,380TSI 舒享型 7座(进口),2017,5.6,广州,19.00,32.1

In [4]:
# 获取汽车牌子的pattern

# 获取格式如 XXX XXX 
# 马自达 阿特兹
brand_pat1 = r'([^\s]+)'

# 获取格式如 XXXabcd 
# 保时捷Cayenne
brand_pat2 = r'([\u4e00-\u9fa5]+)'

df_new = df.copy()
df_new['brand'] = df['car_brand'].str.extract(brand_pat1)
df_new['brand'] = df_new['brand'].str.extract(brand_pat2)

df_new.head()

,car_brand,style_year,other_info,buy_year,total_km,location,total_price,original_price,brand
0,马自达 阿特兹,2018款,2.5L 蓝天尊崇版,2018,1.0,西安,19.47,23.5,马自达
1,长安商用 欧力威,2013款,1.2L 手动舒适型,2013,12.3,西宁,1.95,4.7,长安商用
2,保时捷Cayenne,2016款,Cayenne 3.0T,2015,3.8,哈尔滨,75.00,96.4,保时捷
3,别克 凯越,2011款,1.6LE-MT,2010,11.5,成都,2.68,11.7,别克
4,大众 夏朗,2016款,380TSI 舒享型 7座(进口),2017,5.6,广州,19.00,32.1,大众

#### Note
brand列用于初步预览品牌类型，目的是构建出一个包含品牌的brand_list列表

In [5]:
# 导出
df_new.to_csv('../数据/test.csv', index=False)

In [6]:
brand_list = ['宝马', '奥迪', '奔驰', '北京', '北汽', '宝骏', 
              '本田', '比亚迪', '别克', '奔腾', '宝沃', '保时捷', 
              '宾利', '比速', '标致', '昌河', '川汽野马', '成功',
              '传祺','大众', '道奇', 'Jeep', '电咖汽车', '东风',
              '东南', '大发', '法拉利', '菲亚特', '丰田', '福特',
              '观致', '广汽', '哈飞', '哈弗', '海格', '海马',
              '悍马', '红旗', '华普', '华颂', '华泰', '吉利',
              '江淮', '江铃', '开瑞', '凯迪拉克', '凯翼', '兰博基尼',
              '劳斯莱斯', '雷克萨斯', '雷诺', '力帆', '猎豹', '林肯',
              '铃木', '陆风', '路虎', '马自达', '纳智捷', '玛莎拉蒂',
              '欧宝', '奇瑞', '起亚', '日产', '荣威', '三菱',
              '上汽大通', '斯巴鲁', '斯柯达', '众泰', '雪铁龙', '一汽',
              '五菱','雪佛兰', '英菲尼迪', '长安', '中华', '中兴', 
              'MG', 'WEY', 'MINI', 'Smart', 'DS', '长城', '沃尔沃',
              '现代', '启辰', '捷豹', '金杯', '福田', '夏利', '特斯拉', 
              '知豆', '依维柯', '英致']

In [7]:
len(brand_list)

95

In [ ]:
# df_new.loc[df['car_brand'].str.contains('马自达') == True, 'brand_tag'] = '马自达'

In [8]:
# 为车子牌子大类打标签
# tqdm库添加打标签进度条
for brand in tqdm(brand_list):
    df_new.loc[df['car_brand'].str.contains(brand) == True, 'brand_tag'] = brand

  0%|          | 0/95 [00:00<?, ?it/s]

C:\Users\13905\AppData\Local\Temp\ipykernel_3660\2534939429.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '宝马' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_new.loc[df['car_brand'].str.contains(brand) == True, 'brand_tag'] = brand
100%|██████████| 95/95 [00:15<00:00,  6.09it/s]

In [9]:
df_new

,car_brand,style_year,other_info,buy_year,total_km,location,total_price,original_price,brand,brand_tag
0,马自达 阿特兹,2018款,2.5L 蓝天尊崇版,2018,1.0,西安,19.47,23.5,马自达,马自达
1,长安商用 欧力威,2013款,1.2L 手动舒适型,2013,12.3,西宁,1.95,4.7,长安商用,长安
2,保时捷Cayenne,2016款,Cayenne 3.0T,2015,3.8,哈尔滨,75.00,96.4,保时捷,保时捷
3,别克 凯越,2011款,1.6LE-MT,2010,11.5,成都,2.68,11.7,别克,别克
4,大众 夏朗,2016款,380TSI 舒享型 7座(进口),2017,5.6,广州,19.00,32.1,大众,大众
...,...,...,...,...,...,...,...,...,...,...
417352,雪铁龙C4L,2016款,1.2T 手动领先型,2016,7.8,南充,6.60,14.6,雪铁龙,雪铁龙
417353,日产 天籁,2015款,2.0L XL Upper欧冠科技版,2015,8.6,广州,13.20,21.2,日产,日产
417354,长城C30,2013款,1.5L 手动豪华型,2013,2.2,南通,3.00,7.3,长城,长城
417355,标致3008,2015款,1.6THP 自动经典版,2016,1.9,武汉,12.00,20.5,标致,标致
417356,奇瑞 瑞虎3,2014款,1.6L 手动智尚版,2014,3.7,青岛,5.00,8.5,奇瑞,奇瑞

In [10]:
# 将该列空值去除并且保存
df_new['brand_tag'].dropna(inplace=True)

In [12]:
# 导出仅供预览 可以略过
df_new.to_csv('../数据/test2.csv', index=False)

In [13]:
# 已有新的品牌标签 删除brand列
del df_new['brand']

In [14]:
# 将空值都删除
df_new.dropna(inplace=True)
df_new.count()

car_brand         413877
style_year        413877
other_info        413877
buy_year          413877
total_km          413877
location          413877
total_price       413877
original_price    413877
brand_tag         413877
dtype: int64

In [15]:
# 进行排量的提取

# 定义获取浮点数的pattern
get_float = r'(\d+(\.\d+)?)'

df_new['engine_displacement'] = df_new['other_info'].str.extract(get_float)[0]

old records 423436

In [16]:
# 删除空值
df_new.dropna(inplace=True)
df_new.count()

car_brand              411257
style_year             411257
other_info             411257
buy_year               411257
total_km               411257
location               411257
total_price            411257
original_price         411257
brand_tag              411257
engine_displacement    411257
dtype: int64

In [17]:
print('数据保留率', 411257 / 423436)

数据保留率 0.971237684089213

In [18]:
# 导出
df_new.to_csv('../数据/car_info_finals.csv', index=False)