In [2]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [1]:
# 表中各字段类型
columns_and_types = {
    "car_brand": str,
    "style_year": str,
    "name": str,
    "buy_year": float,
    "total_km": str,
    "location": str,
    "total_price": float,
    "original_price": float,
    "brand_tag": str,
    "engine_displacement": float
}

In [3]:
df = pd.read_csv('../数据/car_info_finals.csv', dtype=columns_and_types)
# 删除不需要的列
del df['other_info']

In [4]:
df.head()

,car_brand,style_year,buy_year,total_km,location,total_price,original_price,brand_tag,engine_displacement
0,马自达 阿特兹,2018款,2018.0,1.0,西安,19.47,23.5,马自达,2.5
1,长安商用 欧力威,2013款,2013.0,12.3,西宁,1.95,4.7,长安,1.2
2,保时捷Cayenne,2016款,2015.0,3.8,哈尔滨,75.00,96.4,保时捷,3.0
3,别克 凯越,2011款,2010.0,11.5,成都,2.68,11.7,别克,1.6
4,大众 夏朗,2016款,2017.0,5.6,广州,19.00,32.1,大众,380.0

In [5]:
# 创建数据库连接
db_connection_info = {
    "host": "127.0.0.1",
    "database": "gp13",
    "user": "a2513210106",
    "password": "xawl-6325",
    "port": "9929"
}

In [6]:
# 连接到数据库
engine = create_engine(f"postgresql://{db_connection_info['user']}:{db_connection_info['password']}@{db_connection_info['host']}:{db_connection_info['port']}/{db_connection_info['database']}")

# 将数据写入数据库
df.to_sql("car_data", engine, if_exists="replace", index=False, method="multi")

# 关闭数据库连接
engine.dispose()

print('success!')

success!